body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  overflow: hidden;
}

.sidebarmenu-holder {
  position: relative;
  height: 100%;
  border-radius: 10px;
  width: 200px;
  background: #2c3e50;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 250px;
  background: #2c3e50;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.sidebar.open {
  display: block;
  animation: slidein 0.5s forwards;
}

.sidebar.close {
  animation: slideOut 0.5s forwards;
}

.sidebar-menu {
  color: white;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.sidebar-menu a {
  text-decoration: none;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  display: block;
  padding: 15px 0;
  font-size: 25px;
  margin-right: 2.5rem;
  padding: 2rem;
  text-align: center;
  transition: transform 1s, opacity 1s;
}

.sidebar-menu a:hover {
  transform: rotate(360deg);
}

.separator-up,
.separator-down {
  width: 100%;
  height: 0.1rem;
  background: #ff7e5f;
  margin-right: 2rem;
}

.socials {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin-right: 2rem;
  margin-top: 5rem;
  cursor: pointer;
  transition: 1s;
}

.socials:hover {
  transform: rotate(360deg);
  transition: 1s;
}

.arrow-icon {
  position: absolute;
  right: -2px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

.arrow-icon-open {
  position: absolute;
  font-size: 2rem;
  transform: translateY(1500%);
  color: #2c3e50;
  cursor: pointer;
}

@keyframes slidein {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.fa-facebook,
.fa-instagram,
.fa-twitter,
.fa-pinterest {
  font-size: 35px;
}

.fa-facebook {
  color: #4267b2;
}

.fa-instagram {
  color: #f09433;
  color: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  color: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  color: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.fa-twitter {
  color: #1da1f2;
}

.fa-pinterest {
  color: red;
}

.logo {
  font-size: 30px;
  color: white;
  transform: translateY(350%);
  margin-bottom: 2rem;
  font-weight: bold;
  text-align: center;
}
